<h1>Burger</h1>

<h2>Burgers before devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <p>{{this.burger}}</p>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers devoured!</h2>
{{!-- 
<ul>
  {{#each burgers}}
    {{#if devour}}
      {{burgers/burger-block devour=true}}
    {{/if}}
  {{/each}}
</ul> --}}

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Submit</button>
</form>
